@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Raleway-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Raleway-Light.ttf) format('truetype');
}


/* HTML & BODY  #8b694e*/
html {
  width: 100%;
  height: 100%;  
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.106) 0%, rgb(55, 48, 48) 100%);
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Opcional: fija el fondo para que no se mueva con el scroll */
  background-size: cover; /* Asegura que el fondo cubra completamente el elemento */
}

body{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  max-width: 800px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-flow: column;
  color: hsla(0, 0%, 13%, 1);

}
 
/* HEADER */
header{
  order: 1;
  margin-top: 2rem;
}
header h1{
  color: rgb(131, 0, 100);
  margin-bottom: 0;

}
header h1:hover{
  animation: hue 1.5s linear infinite;
}
header h2{
  font-style: italic;
 
}
.avatar{
  margin: 1rem;
  width: 15rem;
  height: auto;
  border-radius: 10%;
}

/* BTNS NAV */
nav{
  order: 2;
  color: rgb(131, 0, 100);
}
.contact{
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact li {
  margin: 5px;
  padding: 5px;
  display: inline;
  list-style-position: inside;
}
.contact li a {
  color: inherit;
  text-decoration: none;
}
.contact li a:hover i{
  animation: hue 1.5s linear infinite;
}
.eventos{
  order: 3;
}
.concursos{
  order: 4;
}
footer{
  order: 5;
}
.textshow{
  order: 4;
  animation: hue 1.5s linear infinite;
}
a {
  color: rgb(75, 32, 135);
  text-decoration: none;
}
a:hover {
  animation: hue 1.5s linear infinite;
  text-decoration: underline;
}
.location {
  color: hsla(0, 0%, 13%, 1);
  font-style: italic;
}
.concursos i{
  color: rgb(147, 28, 106);
}
.concursos i:hover{
  animation: hue 1.5s linear infinite;
}
.eventos i:hover{
  animation: hue 1.5s linear infinite;
}
.eventos i{
  color: rgb(147, 28, 106);
}
 @keyframes hue {
  0% {color: hsla(0, 50%, 50%, 1);}
  10% {color: hsla(30, 50%, 50%, 1);}
  20% {color: hsla(60, 50%, 50%, 1);}
  30% {color: hsla(90, 50%, 50%, 1);}
  40% {color: hsla(120, 50%, 50%, 1);}
  50% {color: hsla(150, 50%, 50%, 1);}
  60% {color: hsla(180, 50%, 50%, 1);}
  70% {color: hsla(210, 50%, 50%, 1);}
  80% {color: hsla(240, 50%, 50%, 1);}
  90% {color: hsla(270, 50%, 50%, 1);}
  100% {color: hsla(0, 50%, 50%, 1);}

}
@keyframes hue-fill {
  0% {fill: hsla(0, 50%, 50%, 1);}
  10% {fill: hsla(30, 50%, 50%, 1);}
  20% {fill: hsla(60, 50%, 50%, 1);}
  30% {fill: hsla(90, 50%, 50%, 1);}
  40% {fill: hsla(120, 50%, 50%, 1);}
  50% {fill: hsla(150, 50%, 50%, 1);}
  60% {fill: hsla(180, 50%, 50%, 1);}
  70% {fill: hsla(210, 50%, 50%, 1);}
  80% {fill: hsla(240, 50%, 50%, 1);}
  90% {fill: hsla(270, 50%, 50%, 1);}
  100% {fill: hsla(0, 50%, 50%, 1);}
}

@media (prefers-color-scheme: dark) {
  html {
    background-image: none;
    background-color: hsla(0, 0%, 7%, 1)
  }
  body {
    color: hsla(0, 0%, 97%, 1);
  }
  .location {
    color: hsla(0, 0%, 97%, 1);
  }
}

 .octicon {
  color: hsla(0, 0%, 96%, 1);
  position: fixed;
  top: 0;
  border: 0;
  right: 0;
  fill:rgb(148, 18, 18);
}
 
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
 
@media (prefers-color-scheme: dark) {
  .octicon {
    color: hsla(0, 0%, 7%, 1);
  }
}
 

@keyframes blinking {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.blinking {
  animation: blinking 1.2s infinite;
}


/* Estilos específicos para el div manifesto */
.manifesto {
  max-width: 800px;
  margin: 50px auto; /* Aumenta el margen superior e inferior para dar más espacio */
  background-color: #fffefe; /* Un blanco ligeramente apagado es menos duro para los ojos */
  padding: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px; /* Bordes un poco más redondeados */
  border: 1px solid #eaeaea; /* Un borde sutil */
}

.manifesto h1 {
  font-family: 'Merriweather', serif;
  color: #2c3e50; /* Un azul oscuro/gris para un aspecto sofisticado */
  text-align: center;
  margin-bottom: 2rem; /* Más espacio debajo del título */
}

.manifesto p {
  font-family: 'Raleway', sans-serif; /* Asegúrate de usar Raleway para el texto del párrafo */
  font-size: 18px; /* Un tamaño de fuente ligeramente más grande para la lectura */
  text-align: justify;
  line-height: 1.6; /* Espaciado de línea para mejorar la legibilidad */
  margin-bottom: 1.5rem; /* Espacio uniforme entre párrafos */
  color: #34495e; /* Un gris oscuro para el texto */
}

/* Asegúrate de que el último párrafo no tenga un margen en la parte inferior */
.manifesto p:last-child {
  margin-bottom: 0;
}

/* Puedes incluir una fuente de Google Fonts para el título si deseas algo más distintivo */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.manifesto h1 {
  font-family: 'Merriweather', serif; /* Fuente con serifa para el título */
  font-weight: 700; /* Fuente en negrita */
}

/*language btn*/

.language-selector {
  position: fixed; /* Cambiar según necesidad */
  top: 20px;
  right: 20px;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.language-selector button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.language-selector button:focus {
  outline: none;
}
.language-selector button:hover{
  animation: hue 1.5s linear infinite;
}